#sidebar {
    height: 100%;
    /* top, right, bottom, left */
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    /* background-color: #ff0000; */
    border-right: 1px solid #e5e5e5;
}

#content {
    /* top, right, bottom, left */
    padding-top: 30px;
    padding-left: 20px;
    /* background-color: #ff0000; */
}

#home {
    font-size: 30px;
    /* text-align: center; */
}

a:link {
    color: #cc0000;
}
a:visited {
    color: #999999;
}
a:hover {
    color: #ff3300;
}