{% extends "base.html" %}

{% block head %}
<!-- <title>Event</title> -->
<title>Timeline | Basic demo</title>

<style type="text/css">
  body, html {
    font-family: sans-serif;
  }
</style>

<script src="/vis-4.21.0/dist/vis.js"></script>
<link href="/vis-4.21.0/dist/vis.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<h2>Name: {{ event.name }}</h2>
<div class="subtitle">End Date & Time: {{ event.end_datetime }}</div><br>

<b>Users in event:</b><br>
{% for user in event.users.all %}
{{ user.username }}
<br>
{% endfor %}<br>

Add users:
<input type="text" id="search" placeholder="Search users">
<br><div id="search_results"></div>

<!-- <input type="button" id="asdf" value="Add"> -->
<div id="visualization"></div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    $("#search").keyup(function () {
        var search_text = $(this).val();

        $.ajax({
            type: "GET",
            url: '{% url "search_users" %}',
            data: {
                'eventID': "{{ event.id }}",
                'search_text': search_text
            },
            success: function (data) {
                $('#search_results').html(data);
            }
        });
    });

  // DOM element where the Timeline will be attached
  var container = document.getElementById('visualization');

  var preItems = [
    {id: 1, content: 'item 1', start: '2013-04-20 12:00', end: '2013-04-20 20:00'},
    {id: 2, content: 'item 2', start: '2013-04-14 08:00', end: '2013-04-14 09:00'},
    {id: 3, content: 'item 3', start: '2013-04-20 12:00', end: '2013-04-20 20:30'},
    {id: 4, content: 'item 4', start: '2013-04-20 12:00', end: '2013-04-20 20:30'},
    {id: 5, content: 'item 5', start: '2013-04-20 12:00', end: '2013-04-20 20:30'},
    {id: 6, content: 'item 6', start: '2013-04-20 12:00', end: '2013-04-20 20:30'}];

  preItems.push({id: 7, content: 'item 7', start: '2013-04-22 12:00', end: '2013-04-22 20:30'})
 
  //var users = "{{ users }}";
  //console.log(users);
  // Create a DataSet (allows two way data-binding)
  var items = new vis.DataSet(preItems);

  // Configuration for the Timeline
  var options = {};

  // Create a Timeline
  var timeline = new vis.Timeline(container, items, options);
</script>
{% endblock %}